body{
  background: #E5E5E5;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

p,a,li{
  color: #344563;
  line-height: 1.4em;

}
h1 {
  font-size: 2.5em;
  color: #172B4D
}
h2{
  font-size: 1.6em;
}

h3 {

}

h4{
  font-size: 1.1em;
}

/*mobile style*/

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.flex-div ul{
  display: none;
}

.flex-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3em;
  box-shadow: 0 0 0.62rem rgba(0, 0, 0, 0.2);
  background: #fff;
}

.logo {
  font-size: 1.12em;
  color: #6070ff;
  grid-column: 1/4;
  margin: 0.8em 1.5em;
}

.logo {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.nav-right img {
  grid-column: 6/9;
  margin: 1.1em 2.25em;
  cursor: pointer;
}

.main-container {
  display: flex;
  background: #fff;
  grid-column: 1/9;
  flex-direction: column;
  width: 100%;
  background-image: url(src/img/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid #dfe1e6;
  border-bottom-left-radius: 4em;
}

.greeting-text h1 {
  margin: 2.5em 0.6em 0 0.6em;
}

.greeting-text p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 25rem;
  margin: 0.6em 2.5em 0 1.5em;
}

.connect p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0.6em 2.5em 0 1.5em;
  color: #7f8cff;
}

.media-icon {
  display: flex;
  justify-content: space-between;
  height: 1.25rem;
  margin: 0.6em 9em 8em 1.5em;
  cursor: pointer;
  list-style: none;
}

.works-container {
  margin: 5em 2em ;
  row-gap: 5em;
  display: flex;
  flex-direction: column;
  grid-column: 2/8;
}

.card-container {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 4%;
}

.card-container img {
  width: 90%;
  margin: 0.8em;
}

.card-container .card h2 {
  margin: 0.2em 0.8em 0 0.4em;
  font-size: 2em;
}

.info-card {
  display: flex;
  justify-content: space-between;
  font-size: 0.7em;
  margin: 0 5em 0 1.5em;
}

.info-card .canopy {
  list-style: none;
  padding-top: 0.35em;
}

.info-card .c-text {
  color: #7a869a;
}

.card-text {
  display: flex;
  justify-content: center;
  margin: 0 1.5em 0 1em;
}

.languages {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 1em 3.5em 0 0.8em;
}

.btn {
  color: #6070ff;
  font-size: 0.75em;
  border: 1px solid #ebebff;
  background: #ebebff;
  border-radius: 0.5rem;
  padding: 0.2rem 0.8rem;
  text-decoration: none;
}

.project-link {
  font-size: 1.2rem;
  padding: 0.1em;
  margin: 2em 0.6em;
}

.btn2 {
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 0.5rem;
  text-decoration: none;
  padding: 0.5em;
  background-color: #fff;
  transition: padding 1s, background-color 1s;
}

.btn2:hover {
  padding: 0.7em;
  background-color: #ebebff;
}

.about-section {
  display: flex;
  background: #fff;
  grid-column: 1/9;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  border-top-right-radius: 4em;
  border-bottom: 0;
}

.about-title {
  margin: 2.5em 0.6em 0 0.6em;
  font-size: 2.5em;
}

.about-myself p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 25rem;
  margin: 0.6em 2.5em 0 1.5em;
}

.media-icon2 {
  display: flex;
  justify-content: space-between;
  height: 1.25rem;
  margin: 0.6em 8em 0em 1.5em;
  cursor: pointer;
  list-style: none;
}

.resume-link {
  font-size: 1.2rem;
  padding: 0.1em;
  margin: 2em 0.6em;
}

.btn3 {
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 0.5rem;
  text-decoration: none;
  padding: 0.5em;
}

.bottom-menus {
  display: flex;
  grid-column: 1/9;
  flex-direction: column;
}

.languages-des {
  display: flex;
  justify-content: space-between;
  margin: 0.6em 2.5em 0 1.5em;
  align-items: center;
}

.languages-des img{
  height: 5%;
}

.languages-box {
  display: flex;
  grid-column: 1/9;
  flex-direction: column;
}

.languages-box .javascript-box {
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid #f7f7f9;
  border-radius: 0.5rem;
  background: #f7f7f9;
  margin: 0.6em 2.5em 0 1.5em;
  padding: 0.5em;
}

.languages-box .javascript-box p {
  font-size: 1em;
  padding-left: 1em;
  color: #253858;
}

.languages-box .html-box {
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid #f7f7f9;
  border-radius: 0.5rem;
  background: #f7f7f9;
  margin: 0.6em 2.5em 0 1.5em;
  padding: 0.5em;
}

.languages-box .html-box p {
  font-size: 1em;
  padding-left: 1em;
  color: #253858;
}

.languages-box .css-box {
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid #f7f7f9;
  border-radius: 0.5rem;
  background: #f7f7f9;
  margin: 0.6em 2.5em 0 1.5em;
  padding: 0.5em;
}

.languages-box .css-box p {
  font-size: 1em;
  padding-left: 1em;
  color: #253858;
}

.frameworks-menu {
  display: flex;
  justify-content: space-between;
  margin: 0.6em 2.5em 0 1.5em;
  align-items: center;
}

.skills-menu {
  display: flex;
  justify-content: space-between;
  margin: 0.6em 2.5em 0 1.5em;
  align-items: center;
}

.background-section {
  background: #fff;
}

.contact-section {
  background: #6070FF;
  background-image: url(src/img/contact\ form\ shapes-mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position-x: right;
  background-position-y: 2.5em;
  border-top-left-radius: 4rem;
}

.contact-text-section {
  display: flex;
  grid-column: 1/9;
  flex-direction: column;
  align-items: center;
}

.contact-title h4{
  margin: 3em 0.6em 0 0.6em;
  font-size: 2.5em;
  color: #fff;
}

.contact-text p{
  color: #EBEBFF;
  margin: 0.6em 0.6em 0 0.6em;
  width: 20rem;
  font-size: 1.25rem;
  justify-content: center;
  text-align: center;
  line-height: 1.75rem;
}

form {
  display: flex;
  grid-column: 1/9;
  flex-direction: column;
  align-items: center;
}

form ul {
  list-style: none;
}

.input-box input {
  width: 100%;
  border: 1px solid #cfd8dc;
  border-radius: 0.5rem;
  margin: 0.6em 0.6em 0 0.6em;
  text-align: left;
  padding: 3%;
}

.input-box textarea {
  width: 100%;
  border: 1px solid #cfd8dc;
  border-radius: 0.5rem;
  margin: 0.6em 0.6em 0 0.6em;
  text-align: left;
  padding: 3%;
}

button {
  background-color: #fff;
  padding: 3%;
  font-weight: 700;
  font-size: 1.06em;
  color: #6070ff;
  border: 1px solid #cfd8dc;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1em 0.6em 2.5em 0.6em;
}
